html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #000000;
  cursor: url(images/hand.png) 20 20, auto;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 15%;
  width: 100%;
  position: fixed;
  top: 0;
  font-family: "Short Stack", serif;
  font-weight: 400;
  font-style: normal;
  padding: 0 20px;
  background-color: #000000;
  z-index: 100;
  border-bottom: 2px solid #E3000B;
}

p {
  font-size: 1.5em;
  margin-right: 100px;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.active a:visited {
  color: #FFED00;
}

body {
  margin: auto;
  padding: auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

#specimenPage {
  margin-top: 5%;
}

#mainPage {
  margin-top: 0%;
}

.alphabetPage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: auto;
  margin-top: 5%;
  gap: 0;
}

.description {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  color:#FFFFFF;
  font-size: 12px;
  margin-right: 25%;
  width: 30%;
  margin-bottom: 7%;
  font-family: "Short Stack", serif;
  font-weight: 400;
  font-style: normal;
}

.description p {
  margin: 0;
  padding: 0;
}

.wrapperL,
.wrapperE,
.wrapperG,
.wrapperO,
.wrapperA,
.wrapperB,
.wrapperC,
.wrapperD,
.wrapperE,
.wrapperF,
.wrapperG,
.wrapperH,
.wrapperI,
.wrapperJ,
.wrapperK,
.wrapperL,
.wrapperM,
.wrapperN,
.wrapperO,
.wrapperP,
.wrapperQ,
.wrapperR,
.wrapperS,
.wrapperT,
.wrapperU,
.wrapperV,
.wrapperW,
.wrapperX,
.wrapperY,
.wrapperZ {
  position: relative;
  width: 20%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 7%;
}

#main,
#main2,
#main3,
#main4 {
  position: relative;
  width: 20%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: scale(1.75);
  margin: auto;
  margin-right: 5%;
  margin-top: 23%;
}

.block {
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  position: absolute;
}

.block[letter="L.R"],
.block[letter="E.R1"],
.block[letter="E.R2"],
.block[letter="G.R1"],
.block[letter="G.R2"],
.block[letter="G.R3"],
.block[letter="O.R1"],
.block[letter="O.R2"],
.block[letter="A.R1"],
.block[letter="A.R2"],
.block[letter="B.R1"],
.block[letter="B.R2"],
.block[letter="C.R1"],
.block[letter="C.R2"],
.block[letter="D.R1"],
.block[letter="D.R2"],
.block[letter="E.R1"],
.block[letter="E.R2"],
.block[letter="F.R1"],
.block[letter="G.R1"],
.block[letter="B.R2"],
.block[letter="B.R3"],
.block[letter="H.R1"],
.block[letter="H.R2"],
.block[letter="I.R1"],
.block[letter="J.R1"],
.block[letter="K.R1"],
.block[letter="L.R1"],
.block[letter="M.R1"],
.block[letter="M.R2"],
.block[letter="N.R1"],
.block[letter="N.R2"],
.block[letter="I.R"],
.block[letter="P.R1"],
.block[letter="Q.R1"],
.block[letter="Q.R2"],
.block[letter="R.R1"],
.block[letter="S.R1"],
.block[letter="S.R2"],
.block[letter="T.R1"],
.block[letter="U.R1"],
.block[letter="U.R2"],
.block[letter="V.R1"],
.block[letter="V.R2"],
.block[letter="W.R1"],
.block[letter="W.R2"],
.block[letter="Y.R1"],
.block[letter="Z.R1"],
.block[letter="Z.R2"] {
  background-image: url("images/rL.png");
  z-index: 0;
  transition: transform 0.3s ease-in-out;
}

.block[letter="G.R3"] {
  z-index: -1;
}


.block[letter="L.G"],
.block[letter="E.G"],
.block[letter="G.G"],
.block[letter="O.G1"],
.block[letter="O.G2"],
.block[letter="A.G1"],
.block[letter="A.G2"],
.block[letter="B.G1"],
.block[letter="B.G2"],
.block[letter="E.G"],
.block[letter="F.G"],
.block[letter="G.G"],
.block[letter="H.G"],
.block[letter="I.G1"],
.block[letter="I.G2"],
.block[letter="J.G"],
.block[letter="K.G1"],
.block[letter="K.G2"],
.block[letter="M.G1"],
.block[letter="N.G1"],
.block[letter="N.G2"],
.block[letter="P.G1"],
.block[letter="P.G2"],
.block[letter="Q.G1"],
.block[letter="Q.G2"],
.block[letter="Q.G3"],
.block[letter="R.G1"],
.block[letter="R.G2"],
.block[letter="P.G2"],
.block[letter="S.G"],
.block[letter="S.G2"],
.block[letter="S.G3"],
.block[letter="T.G"],
.block[letter="U.G"],
.block[letter="W.G1"],
.block[letter="X.G1"],
.block[letter="Y.G"],
.block[letter="Z.G1"],
.block[letter="Z.G2"] {
  background-image: url("images/gT.png");
  z-index: 1;
  transition: transform 0.2s ease-in-out;
}

.block[letter="C.G"],
.block[letter="D.G"] {
  background-image: url("images/gL.png");
  z-index: -1;
  transition: transform 0.7s ease-in-out;
}


.block[letter="L.Y"],
.block[letter="E.Y"],
.block[letter="G.Y"],
.block[letter="O.Y1"],
.block[letter="O.Y2"],
.block[letter="A.Y1"],
.block[letter="A.Y2"],
.block[letter="B.Y1"],
.block[letter="B.Y2"],
.block[letter="C.Y"],
.block[letter="D.Y"],
.block[letter="E.Y"],
.block[letter="F.Y"],
.block[letter="G.Y"],
.block[letter="H.Y1"],
.block[letter="H.Y2"],
.block[letter="I.Y"],
.block[letter="J.Y"],
.block[letter="K.Y1"],
.block[letter="L.Y"],
.block[letter="M.Y1"],
.block[letter="M.Y2"],
.block[letter="M.Y3"],
.block[letter="N.Y1"],
.block[letter="N.Y2"],
.block[letter="P.Y1"],
.block[letter="P.Y2"],
.block[letter="Q.Y1"],
.block[letter="Q.Y2"],
.block[letter="R.Y1"],
.block[letter="R.Y2"],
.block[letter="T.Y"],
.block[letter="U.Y1"],
.block[letter="U.Y2"],
.block[letter="V.Y1"],
.block[letter="V.Y2"],
.block[letter="W.Y1"],
.block[letter="W.Y2"],
.block[letter="Y.Y1"],
.block[letter="Y.Y2"],
.block[letter="Z.Y1"],
.block[letter="Z.Y2"] {
  background-image: url("images/yL.png");
  z-index: 0;
  transition: transform 0.9s ease-in-out;
}

.block[letter="E.B"],
.block[letter="F.B"] {
  background-image: url("images/bL.png");
  z-index: -1;
  transition: transform 0.5s ease-in-out;
}

.block[letter="O.B1"],
.block[letter="O.B2"],
.block[letter="G.B1"],
.block[letter="G.B2"],
.block[letter="L.B"],
.block[letter="A.B"],
.block[letter="B.B"],
.block[letter="D.B"],
.block[letter="H.B"],
.block[letter="I.B1"],
.block[letter="I.B2"],
.block[letter="J.B1"],
.block[letter="J.B2"],
.block[letter="K.B1"],
.block[letter="K.B2"],
.block[letter="M.B2"],
.block[letter="N.B"],
.block[letter="P.B"],
.block[letter="Q.B1"],
.block[letter="Q.B2"],
.block[letter="R.B"],
.block[letter="R.B2"],
.block[letter="S.B1"],
.block[letter="S.B2"],
.block[letter="S.B3"],
.block[letter="T.B"],
.block[letter="U.B"],
.block[letter="W.B2"],
.block[letter="Y.B"],
.block[letter="Z.B"] {
  background-image: url("images/bT.png");
  z-index: 0;
  transition: transform 0.7s ease-in-out;
}

.block[letter="M.B1"],
.block[letter="W.B1"],
.block[letter="V.B"],
.block[letter="V.B2"],
.block[letter="R.B4"],
.block[letter="K.B3"],
.block[letter="K.B4"],
.block[letter="K.B5"],
.block[letter="K.B6"],
.block[letter="X.B1"],
.block[letter="X.B4"],
.block[letter="X.B2"],
.block[letter="X.B6"] {
  background-image: url("images/bS.png");
  z-index: 0;
  transition: transform 0.8s ease-in-out;
}

.block[letter="V.R3"],
.block[letter="K.R2"],
.block[letter="K.R3"],
.block[letter="R.B3"],
.block[letter="X.B7"],
.block[letter="X.R"] {
  background-image: url("images/rS.png");
  z-index: 0;
  transition: transform 0.3s ease-in-out;
}

.block[letter="X.B4"],
.block[letter="X.B5"] {
  background-image: url("images/yS.png");
  z-index: 0;
  transition: transform 0.5s ease-in-out;
}

.block[letter="X.B3"],
.block[letter="X.B8"] {
  background-image: url("images/gS.png");
  z-index: 0;
  transition: transform 0.5s ease-in-out;
}

.block[letter="G.B1"],
.block[letter="B.B"],
.block[letter="B.G1"],
.block[letter="B.G2"],
.block[letter="M.B1"],
.block[letter="W.B1"],
.block[letter="J.B2"],
.block[letter="R.B3"],
.block[letter="R.B4"],
.block[letter="Z.G1"],
.block[letter="Z.G2"],
.block[letter="Z.B"],
.block[letter="K.R2"],
.block[letter="K.R3"] {
  z-index: -3;
}

.block[letter="O.B2"] {
  z-index: 1;
}

.block[letter="E.G"] {
  z-index: -1;
}

.block[letter="G.G"],
.block[letter="A.G2"],
.block[letter="D.B"],
.block[letter="F.G"],
.block[letter="H.G"],
.block[letter="P.G2"],
.block[letter="Q.G3"],
.block[letter="M.G1"],
.block[letter="M.B2"],
.block[letter="W.G1"],
.block[letter="W.B2"],
.block[letter="N.G1"],
.block[letter="N.G2"],
.block[letter="N.B"] {
  z-index: -2;
}

.block[letter="R.B3"] {
  z-index: 1;
}

.block[letter="R.B4"],
.block[letter="B.B"] {
  z-index: 2;
}